/*carrousel*/
* {box-sizing:border-box}

.slideshow-container {
  width: 300px;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 55px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  color: #FAA21A;
}
.next {
  right: 105px;
  border-radius: 3px 0 0 3px;
  margin: 30px;
}
.prev{
  left: 105px;
  border-radius: 3px 0 0 3px;
  margin: 30px;
}
.prev:hover, .next:hover {
  background-color: #d3d3d3;
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: black;
  font-size: 14px;
  padding: 8px 12px;
  position: absolute;
  margin: 30px;
  left: 98px;
  top: 140px;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.posiciones{
 text-align: center;
 margin-top: 15px;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}