body{
    background: #F2F2F2;;
}
.titulo1{
    font-size: 33px;
    font-weight: bold;
    text-align: center;
    margin-top: 1%
}

.contenedor_sesion{
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid black;
    margin: 0 auto;
    width: 40%;
    margin-top: 55px;
    grid-gap: 5px;
    height: 250px;
}
.contenedor_sesion .correo{
    grid-row: 1 / 2;
    padding-bottom: 50px;
}

.contenedor_sesion .contrasena{
    grid-row: 2 / 3;
    padding-bottom: 50px;   
}

.contenedor_sesion .boton{
    grid-row: 3 / 4;
}
div input[type=email]{
    display: inline-block;
    width: 300px;
    height: 25px;
    border-radius: 3px;
    border: 2px solid gray;
    font-size: 15px;
}
div input[type=password]{
    display: inline-block;
    width: 300px;
    height: 25px;
    border-radius: 3px;
    border: 2px solid gray;
    font-size: 15px;
}