/* Estilos de los titulos */
.main{
    background: #f2f2f2;
    height: 100%;
}
.main h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    padding-top: 25px;
    font-weight: bold;
}

.main h2{
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
}

.main .separador{
    height: 4px;
    width: 60%;
    margin: 0 auto;
    background: #FAA21A;
    margin-top: 10px;
    border-radius: 3px;
}

/*Estilos de los contenedores de las busquedas */

.contenedor_filtraciones{
    padding-top: 40px;
    margin: 0 auto;
    width: 85%;
    display: flow-root;
}

.contenedor_buscar{
    width: 50%;
    float: left;
}

.contenedor_buscar label{
    display: inline-block;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    width: 20%;
}

.contenedor_buscar input{
    display: inline-block;
    width: 70%;
    height: 25px;
    border-radius: 3px;
    font-size: 20px;
    border: 2px solid rgb(194, 194, 194);
    font-family: 'Raleway', sans-serif;
}

.contenedor_filtraciones input:focus{
    border: 2px solid #FAA21A;
    outline: none;
}

.contenedor_criterios{
    width: 40%;
    float: left;
}

.contenedor_criterios label{
    display: inline-block;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    width: 25%;
}

.contenedor_criterios select{
    display: inline-block;
    width: 70%;
    height: 30px;
    border-radius: 3px;
    font-size: 15px;
    border: 2px solid rgb(194, 194, 194);
    transition: all 0.5s ease;
    font-family: 'Raleway', sans-serif;
}

.contenedor_criterios select:focus{
    border: 2px solid #FAA21A;
    outline: none;
}

/*Estilos del contenedor de las instituciones */

.lista_instituciones{
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
    grid-gap: 20px;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    margin-top: 60px;
}

/*Estilos de los contenedores de las instituciones */

.contenedor_institucion img{
    height: 200px;
    width: 100%;
}

/*Estilos del contenedor de la informacion */
.contenedor_informacion{
    background: #fff;
    height: 200px;
}

/* Nombre del centro educativo */
.contenedor_informacion .contenedor_nombre_centro_educativo{
    width: 80%;   
    height: 50px;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

.contenedor_informacion .contenedor_nombre_centro_educativo p{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    line-height: 25px;
    text-transform: uppercase;
}

/* Tipo de centro educativo */

.contenedor_clasificacion_centro_educativo{
    width: 80%;
    margin: 0 auto;
}

.contenedor_tipo, .contenedor_sistema{
    float: left;
    width: 45%;
    text-align: center;
}

.contenedor_division{
    float: left;
    width: 5%;
    text-align: center;
}

.contenedor_tipo p, .contenedor_sistema p{
    font-size: 15px;
    margin-bottom: 10px;
}

.contenedor_division p{
    color: #FAA21A;
    font-size: 18px;
}
/* Estilos telefono centro educativo */

.contenedor_telefono_centro_educativo{
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
}
/* Estilos ubicacion centro educativo */

.contenedor_ubicacion_centro_educativo{
    width: 80%;
    margin: 0 auto;
}
.contenedor_provincia, .contenedor_canton{
    float: left;
    width: 45%;
    text-align: center;
}

/* Estilos contenedor pagina web */

.contenedor_web_centro_educativo{
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.contenedor_boton{
    padding-top: 15px;
    text-align: center;
}

.contenedor_boton button{
    color: #000;
    background: #fff;
    border: 0;
    cursor:pointer;
    font-size: 15px;
}

.contenedor_boton button:hover{
    color: #FAA21A;
    transition: all 0.3s ease;
}

.contenedor_boton button i{
    color: #FAA21A;
    font-size: 20px;
    position: relative;
    top: 3px;  
}