html {
    font-family: 'Roboto', sans-serif;
}

.main{
    
    height: 100%;
}
.main h1{
    text-align: center;
    font-size: 40px;
    padding-top: 25px;
    font-weight: bold;
}
.main .separador{
    height: 4px;
    width: 60%;
    margin: 0 auto;
    background: #FAA21A;
    margin-top: 10px;
    border-radius: 3px;
}

.contenido{
    margin-top: 60px;
    margin-bottom: 30px;
}

.contenido .formulario-1{
    margin-top: 60px;
}

div input[type=text]{
    display: inline-block;
    width: 300px;
    height: 25px;
    border-radius: 3px;
    border: 2px solid gray;
    font-size: 15px;
    margin-top: 10px;
}
.formulario-1 input:focus{
    border: 2px solid #FAA21A;
    outline: none;
}
.formulario-1 div label{
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 35px;
    width: 200px;
    margin-left: 40px;
    font-weight: bold;
}

.contenedor_noticia{
    display: grid;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, 220px);
    grid-gap: 20px;
    margin-top: 30px;
}

.noticia{
    height: 250px;
    background: #F2F2F2;
}

.noticia .titulo_noticia{
    height: 55px;
}

.noticia .titulo_noticia p{
    font-size: 20px;
    font-family: 'Roboto', 'sans-serif';
    font-weight: bold;
    padding-top: 10px;
    text-align: center;
}

.noticia .fecha_noticia{
    height: 50px;
}

.noticia .fecha_noticia p{
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
}

.noticia .descripcion_noticia{
    height: 150px;
}

.noticia .descripcion_noticia p{
    font-size: 18px;
    padding-top: 10px;
    text-align: center;
}