html {
    font-family: 'Roboto', sans-serif;
}
body{
    background: #F2F2F2;
}
.tabla_articulo{
    font-size: 20px;
    font-weight: bolder;
    margin: 2%;
    padding: 15px;
}
.tabla_articulo tr th{
    padding: 15px;
    border: 2px solid #000;
    border-top: 2px solid #000; 
    width: 4%;     
    right: 60px;
    color: #40433E;
    background: #FAA21A;
}
.tabla_articulo tr td{
    padding: 15px;
    border: 2px solid #000;
    border-top: 2px solid #000; 
    width: 4%; 
    right: 100px;
    background: #fff;
} 
.tabla_articulo tbody{
    padding: 15px;
    border: 2px solid #000;
    border-top: 2px solid #000; 
    width: 4%; 
    right: 100px;
    background: #fff;
}
.contenido .formulario-1{
    margin-top: 60px;
}
div input[type=text]{
    display: inline-block;
    width: 300px;
    height: 25px;
    border-radius: 3px;
    border: 2px solid gray;
    font-size: 15px;
}
.formulario-1 input:focus{
    border: 2px solid #FAA21A;
    outline: none;
}
.formulario-1 div label{
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 35px;
    width: 200px;
    margin-left: 40px;  
    font-weight: bold;
}
.main{
    background: #f2f2f2;
    height: 100%;
}
.main h1{
    text-align: center;
    font-size: 40px;
    padding-top: 25px;
    font-weight: bold;
}
.main .separador{
    height: 4px;
    width: 60%;
    margin: 0 auto;
    background: #FAA21A;
    margin-top: 10px;
    border-radius: 3px;
}