body{
    background: #F2F2F2;;
}

.titulo1{
    font-size: 33px;
    font-weight: bold;
    text-align: center;
}
.titulo2{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;   
}
.contenido{
    grid-column: 4 / 5;
    grid-row: 2 / 5;
}
#tbl_actividades{
    float: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 8px;    
    background: #fff;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    border: 1px solid #000;
    margin-top: 25px;
    height: 400px;
}
#tbl_actividades tr th{
    border-top: 2px solid rgba(0, 0, 0, 0.562);;
    height: 40px;
    border: 2px solid rgba(0, 0, 0, 0.562);
}
#tbl_actividades tr td{
    padding: 10px;
    text-align: left;
    border: 2px solid;
    border-color: rgba(0, 0, 0, 0.562);
} 
#tbl_actividades tbody tr:hover{
    border: 2px solid black;
}
#tbl_actividades thead tr:hover{
    border: 2px solid  black;
}
#tbl_actividades tbody div{
    background-size: 15%;
    padding: 10%;
}
#tbl_actividades th, td{
      padding: 15px;
}