html{
    font-family: 'Roboto', sans-serif;
}
body{
    background: #F2F2F2;
}
.main h1{
    text-align: center;
    font-size: 40px;
    padding-top: 25px;
    font-weight: bold;
}
.main .separador{
    height: 4px;
    width: 60%;
    margin: 0 auto;
    background: #FAA21A;
    margin-top: 10px;
    border-radius: 3px;
}

.contenido .contenedor_buscar{
    margin-top: 60px;
    margin-bottom: 30px;
}
div input{
    display: inline-block;
    width: 30%;
    height: 25px;
    border-radius: 3px;
    border: 2px solid gray;
    font-size: 15px;
}
.contenedor_buscar input:focus{
    border: 2px solid #FAA21A;
    outline: none;
}
.contenedor_buscar  label{
    display: inline-block;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    width: 8%;
    margin-left: 5%;
}
#tbl_actividades{
    font-size: 20px;
    font-weight: bolder;
    margin: 2%;
    padding: 15px;
}
#tbl_actividades tr th{
    padding: 15px;
    border: 2px solid #000;
    border-top: 2px solid #000; 
    width: 4%;     
    right: 60px;
    color: #40433E;
    background: #FAA21A;
}
#tbl_actividades tr td{
    padding: 15px;
    border: 2px solid #000;
    border-top: 2px solid #000; 
    width: 4%; 
    right: 100px;
    background: #fff;
} 
#tbl_actividades tbody{
    padding: 15px;
    border: 2px solid #000;
    border-top: 2px solid #000; 
    width: 4%; 
    right: 100px;
    background: #fff;
}
