html {
    font-family: 'Roboto', sans-serif;
}
body{
    background: #F2F2F2;
}

.main h1{
    text-align: center;
    font-size: 40px;
    padding-top: 25px;
    font-weight: bold;
}
.main .separador{
    height: 4px;
    width: 60%;
    margin: 0 auto;
    background: #FAA21A;
    margin-top: 10px;
    border-radius: 3px;
}

.contenido .contenedor_buscar{
    margin-top: 60px;
    margin-bottom: 30px;
}
div input{
    display: inline-block;
    width: 30%;
    height: 25px;
    border-radius: 3px;
    border: 2px solid gray;
    font-size: 15px;
}

.contenedor_buscar input:focus{
    border: 2px solid #FAA21A;
    outline: none;
}
.contenedor_buscar  label{
    display: inline-block;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    width: 8%;
    margin-left: 5%;
}



.contenedor_noticia{
    display: grid;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, 220px);
    grid-gap: 20px;
    margin-top: 30px;
}

.noticia{
    height: 250px;
}

.noticia .titulo_noticia{
    height: 55px;
}

.noticia .titulo_noticia p{
    font-size: 20px;
    font-family: 'Roboto', 'sans-serif';
    font-weight: bold;
    padding-top: 10px;
    text-align: center;
}

.noticia .fecha_noticia{
    height: 50px;
}

.noticia .fecha_noticia p{
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
}

.noticia .descripcion_noticia{
    height: 150px;
}

.noticia .descripcion_noticia p{
    font-size: 18px;
    padding-top: 10px;
    text-align: center;
}