html {
    font-family: 'Roboto', sans-serif;
}
body{
    background: #F2F2F2;
}
#tbl_registrar{
    font-size: 20px;
    font-weight: bolder;
    margin: 2%;
    padding: 15px;
}
#tbl_registrar tr th{
    padding: 15px;
    border: 4px solid #000;
    border-top: 4px solid #000; 
    width: 4%;     
    right: 90px;
    background: #F2F2F2;
}
#tbl_registrar tr td{
    padding: 15px;
    border: 4px solid #000;
    border-top: 4px solid #000; 
    width: 4%; 
    right: 150px;
    background: #F2F2F2;
}
#tbl_registrar tbody{
    padding: 15px;
    border: 4px solid #000;
    border-top: 4px solid #000; 
    width: 4%; 
    right: 150px;
    background: #F2F2F2;
}
.contenido .formulario-1{
    margin-top: 60px;
}
div input[type=text]{
    display: inline-block;
    width: 300px;
    height: 25px;
    border-radius: 3px;
    border: 2px solid gray;
    font-size: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.formulario-1 form div{
    margin-bottom: 40px;
    margin-top: 40px;
}
.formulario-1 div label{
    display: inline-block;
    width: 200px;
    margin-left: 40px;  
    font-weight: bold;
}

