html {
    font-family: 'Roboto', sans-serif;
    background: #f2f2f2;
}

.main h2{
    text-align: center;
    font-size: 40px;
    padding-top: 25px;
    font-weight: bold;
}
.main .separador{
    height: 4px;
    width: 60%;
    margin: 0 auto;
    background: #FAA21A;
    margin-top: 10px;
    border-radius: 3px;
}

/*--------------------------------------------------------*/
.formulario-1{
    padding-top: 40px;
    width: 85%;
    margin-left: 3%;
    display: flow-root;
}

.contenedor_buscar{
    width: 50%;
    float: left;
}

.contenedor_buscar label{
    display: inline-block;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    width: 20%;
}

.contenedor_buscar input{
    display: inline-block;
    width: 70%;
    height: 25px;
    border-radius: 3px;
    font-size: 20px;
    border: 2px solid rgb(194, 194, 194);
    transition: all 0.5s ease;
    font-family: 'Raleway', sans-serif;
}

.formulario-1 input:focus{
    border: 2px solid #FAA21A;
    outline: none;
}
/*--------------------------------------------------------*/

.tabla_idiomas{
    font-size: 20px;
    font-weight: bolder;
    padding: 15px;
    width: 95%;
    margin: 0 auto;
    margin-top: 30px;
}
.tabla_idiomas tr th{
    padding: 15px;
    border: 2px solid #000;
    border-top: 2px solid #000;
    width: 2%;
    right: 90px;
    background: #FAA21A;
}
.tabla_idiomas tr td{
    padding: 15px;
    border: 2px solid #000;
    border-top: 2px solid #000;
    width: 2%;
    right: 150px;
    background: #F2F2F2;
}
.tabla_idiomas tbody{
    padding: 15px;
    border: 2px solid #000;
    border-top: 2px solid #000;
    width: 4%;
    right: 150px;
    background: #F2F2F2;
}
.img_bandera{
  width: 60px;
  height: 30px
}



.btn_articulo{
    width: 20%;
    height: 40px;
    background: #FAA21A;
    color: #fff;
    border-radius: 3px;
    border: 0;
    margin-left: 3%;
    cursor: pointer;
    margin-top: 30px;
  }

  .btn_lenguaje{
    width: 20%;
    height: 40px;
    background: #FAA21A;
    color: #fff;
    border-radius: 3px;
    border: 0;
    margin-left: 3%;
    cursor: pointer;
    margin-top: 30px;
  }
