body{
    background: #f0f0f0;
}
.contenedor{
    display: inline-grid;
    grid-template-columns: repeat(4, 2fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 5px;
}
.contenedor h1{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    line-height: 25px;
    text-transform: uppercase;
}
.contenedor h3{
    text-align: center;
    size: 5px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    line-height: 25px;
   margin-bottom: 10px;
}
.contenedor p{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    size: 6px;
}
#elemento{
    background: #ffff;
    position: relative;
    left: 50px;
    margin-top: 25px;
    border: 1px solid red;
}


