.main {
    margin-left: 20%; /* Se usa el mismo que el ancho del navbar lateral */
  }

.contenedor_perfil{
    width: 20%;
    height: 200px;
    margin: 0 auto;
    padding-top: 40px;
}

 .contenedor_foto img{
   border-radius: 50%;
   padding-bottom: 15px;
   width: 320px;
   position: relative;
   right: 44px;
   height: 320px;
   object-fit: cover;

}


.contenedor_info_nombre{
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 420px;
    border: 2px solid gray;
    margin: 10px;
    position: relative;
    right: 100px;
    border-radius: 3px;
}


.contenedor_tipo{

    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 420px;
    border: 2px solid gray;
    margin: 10px;
    position: relative;
    right: 100px;
    border-radius: 3px;
}

.contenedor_provincia {
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 420px;
    border: 2px solid gray;
    margin: 10px;
    position: relative;
    right: 100px;
    border-radius: 3px;
   
}
.contenedor_tel{
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 420px;
    border: 2px solid gray;
    margin: 10px;
    position: relative;
    right: 100px;
    border-radius: 3px;
}
.contenedor_correo_padre{
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 420px;
    border: 2px solid gray;
    margin: 10px;
    position: relative;
    right: 100px;
    border-radius: 3px;
}
i{
    color: #FAA21A;
    margin: 5px;
}
div .boton{
    width: 15%;
    height: 40px;
    margin-right: 2%;
    background: #FAA21A;
    color: #fff;
    border-radius: 3px;
    border: 0;
    margin-top: 15px;
    margin-bottom: 10px;
    float: right;
}
div button:hover{
    background: rgb(245, 148, 2);
}
.btn_cerrar_sesion{
    width: 196%;
    height: 39px;
    background: #FAA21A;
    color: #fff;
    border-radius: 3px;
    border: 0;
    font-size: 12px;
    margin-right: 8%;
    cursor: pointer;
    margin-bottom: 40px;
    position: relative;
    left: 132px;
}

