html {
    font-family: 'Roboto', sans-serif;
}
body{
    background: #f2f2f2;
}
.main{
    height: 100%;
}
.main h1{
    text-align: center;
    font-size: 40px;
    padding-top: 25px;
    font-weight: bold;
}
.main .separador{
    height: 4px;
    width: 60%;
    margin: 0 auto;
    background: #FAA21A;
    margin-top: 10px;
    border-radius: 3px;
}
.contenido{
    margin-top: 60px;
    margin-bottom: 30px;
}
.contenido .formulario-1{
    margin-top: 60px;
}

div input[type=text]{
    display: inline-block;
    width: 300px;
    height: 25px;
    border-radius: 3px;
    border: 2px solid gray;
    font-size: 15px;
    margin-top: 10px;
}
.formulario-1 input:focus{
    border: 2px solid #FAA21A;
    outline: none;
}
.formulario-1 div label{
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 35px;
    width: 80px;
    margin-left: 40px;
    font-size: 20px;
    font-family: 'Quicksand', 'sans-serif';
}

.nombre_pregunta p{
    border-top: 1px solid #c7c7c7;
    padding: 20px 0 20px 30px;
    color: #323232;
    display: block;
    position: relative;
    -webkit-transition: border-color .4s;
    transition: border-color .4s;
    
}

.respuesta_pregunta p{
    padding: 20px 0 20px 30px;
    color: #323232;
    display: block;
    position: relative;
    -webkit-transition: border-color .4s;
    transition: border-color .4s;
    border-bottom: 1px solid #c7c7c7;
   
}

.tabla_pregunta{
    font-size: 20px;
    font-weight: bolder;
    padding: 15px;
    width: 95%;
    margin: 0 auto;
    margin-top: 30px;
}
.tabla_pregunta tr th{
    padding: 10px 0;
    border: 1px solid #000;   
    color: #40433E;
    background: #FAA21A;
    font-weight: bold;
    font-family: 'Roboto', 'sans-serif';
    font-size: 20px;
}
.tabla_pregunta tr td{
    padding: 15px 10px;
    border: 1px solid #000;
    width: 4%; 
    right: 100px;
    background: #fff;
    text-align: center;
} 
.tabla_pregunta tbody{
    padding: 15px;
    border: 1px solid #000;
    border-top: 1px solid #000; 
    width: 4%; 
    right: 150px;
}
i{
    text-decoration: none;
    color: #000;
    font-size: 25px;
}

.btn_pregunta{
    width: 20%;
    height: 40px;
    background: #FAA21A;
    color: #fff;
    border-radius: 3px;
    border: 0;
    margin-left: 3%;
    cursor: pointer;
    margin-top: 30px;
  }


