body{
    background: #F2F2F2;
}

.titulo1{
    font-size: 33px;
    font-weight: bold;
    text-align: center;
}
.titulo2{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;   
}

.contenedor{
    display: grid;    
    background: #fff;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    border: 1px solid #000;
    margin-top: 25px;
    height: 400px;
    grid-template-columns: 100px 2fr 2px 4fr 100px;
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
    grid-gap: 10px;
}
/* Colocacacion basica de los elementos */

.flecha_izq{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.flecha_izq i{
    margin-top: 20px;
    margin-left: 15px;
    color: #FAA21A;
}

.flecha_der{
    grid-column: 5 / 6;
    grid-row: 3 / 4;
    text-align: right;
}

.flecha_der i{
    margin-top: 20px;
    margin-right: 15px;
    color: #FAA21A;
}

.descripcion_contenedor{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    text-align: left;

}
.descripcion_contenedor p{
    font-size: 40px;
    font-weight: bolder;
    margin-top: 15px;
    margin-left: 20px;
}

.separador{
    grid-column: 3 / 4;
    grid-row: 2 / 5;
    background: #FAA21A;
}

.contenido{
    grid-column: 4 / 5;
    grid-row: 2 / 5;
}

.titulo-contenido{
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

/* Estilos generales de los elementos del contenido */

div input[type=text]{
    display: inline-block;
    width: 300px;
    height: 25px;
    border-radius: 3px;
    border: 2px solid gray;
    font-size: 15px;
}
div input[type=radio]{
    display: inline-block;
    width: 20px;
    height: 20px;
}

/* Estilos primer contenedor */

.contenido .formulario-1{
    margin-top: 70px;
}

.formulario-1 form div{
    margin-bottom: 40px;
}

.formulario-1 div label{
    display: inline-block;
    width: 200px;
    margin-left: 40px;  
    font-weight: bold;
}
.formulario-1 input:focus{
    border: 2px solid #FAA21A;
    outline: none;
}

/* Estilos del segundo contenedor */
.contenido .formulario-2{
    margin-top: 40px;
}

.formulario-2 form div{
    margin-bottom: 30px;
}

.formulario-2 div label{
    display: inline-block;
    margin-left: 40px;  
    font-weight: bold;
    width: 100px;
}

.formulario-2 div select{
    display: inline-block;
    width: 300px;
    height: 25px;
    border-radius: 3px;
    border: 2px solid gray;
    font-size: 15px;
}
.formulario-2 input:focus{
    border: 2px solid #FAA21A;
    outline: none;
}
.formulario-2 select:focus{
    border: 2px solid #FAA21A;
    outline: none;
}

/* Estilos tercer contenedor */

.contenido .formulario-3{
    margin-top: 40px;
}

.formulario-3 form div{
    margin-bottom: 30px;
}

.formulario-3 div label{
    display: inline-block;
    margin-left: 40px;  
    font-weight: bold;
    width: 100px;
}

.formulario-3 div select{
    display: inline-block;
    width: 120px;
    height: 25px;
    border-radius: 3px;
    border: 2px solid gray;
    font-size: 15px;
}

.formulario-3 select:focus{
    border: 2px solid #FAA21A;
    outline: none;
}

.formulario-3 div textarea{
    width: 250px;
    height: 150px;
    border-radius: 3px;
    border: 2px solid gray;
    font-size: 15px;
    resize: none;
}

.formulario-3 textarea:focus{
    border: 2px solid #FAA21A;
    outline: none;
}
/* Estilos del mapa del cuarto contenedor */
#map {
    height: 100%;
    width: 100%;
}

/* Estilos del quinto contenedor */
.formulario-5{
    margin-top: 30px;   
}
.titulo-elemento{
    margin-left: 100px;
    float: left;
}

.titulo-descripcion{
    margin-left: 190px;
    float: left;
}
.titulo-elemento p, .titulo-descripcion p{
    font-size: 20px;
    font-weight: bold;
    color: #FAA21A;
}

.formulario-5 label{
    display: inline-block;
    margin-left: 100px;
    width: 100px;
    font-size: 22px;
    margin-right: 25px;
}

.formulario-5 textarea{
    width: 200px;
    height: 60px;
    resize: none;
    border: 2px solid gray;
    margin-left: 50px;
}

.formulario-5 textarea:focus{
    border: 2px solid #FAA21A;
    outline: none;
}

.formulario-5 i{
    color: #FAA21A;
}

.cont-elemento{
margin-bottom: 15px;
}

/* Estilos del Sexto contenedor */

.formulario-6 label{
    display: inline-block;
    margin-left: 100px;
    width: 100px;
    font-size: 20px;
    margin-right: 25px;
}

.formulario-6 textarea{
    width: 200px;
    height: 60px;
    resize: none;
    border: 2px solid gray;
    margin-left: 50px;
}


.formulario-6 i{
    color: #FAA21A;
}

.formulario-6 div select{
    display: inline-block;
    width: 200px;
    height: 25px;
    border-radius: 3px;
    border: 2px solid gray;
    font-size: 15px;
    margin-left: 50px;
    margin-top: 30px;
}
.formulario-6 textarea:focus{
    border: 2px solid #FAA21A;
    outline: none;
}

.formulario-6 select:focus{
    border: 2px solid #FAA21A;
    outline: none;
}

/* Estilos del setimo contenedor*/
.formulario-7 h1{
    font-size: 23px;
    margin-left: 60px;
}

.formulario-7 .cont_checkbox_izq{
    float:left;
    margin-left: 90px;
    margin-top: 40px;
}

.formulario-7 .cont_checkbox_der{
    float:left;
    margin-left: 120px;
    margin-top: 40px;
}

.formulario-7 .cont_checkbox_izq div, .formulario-7 .cont_checkbox_der div{
    margin-bottom: 30px;
}

.formulario-7 input[type=checkbox]{
    height: 15px;
    width: 15px;
}

/* Estilos del octavo contenedor */

.titulo-contenido .h1-portada{
    font-size: 22px;
    margin-top: 20px;
    margin-left: 150px;
}

.formulario-8 img{
    height: 250px;
    width: 600px;   
}

.formulario-8 .btn-imagen{
    width: 600px;
    height: 40px;
    background: #FAA21A;
    color: #fff;
    border-radius: 3px;
    border: 0;
}

.formulario-8 .btn-imagen:hover{
    background: rgb(245, 148, 2);
}

/* Estilos del noveno contenedor */

.formulario-9 img{
    height: 100px;
    width: 250px;   
}

.formulario-9 .btn-imagen{
    width: 250px;
    height: 30px;
    background: #FAA21A;
    color: #fff;
    border-radius: 3px;
    border: 0;
}

.formulario-9 .btn-imagen:hover{
    background: rgb(245, 148, 2);
}

.formulario-9 .contenedor-galeria{
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
}

/* Estilos del decimo contenedor */

.titulo-contenido .h1-redes-sociales{
    font-size: 20px;
    margin-top: 40px;
    margin-left: 40px;
}

.formulario-10 .cont-red-social{
    margin-left: 100px;
    margin-top: 20px;
}

.formulario-10 .cont-red-social i{
    padding-right: 20px;
}

.formulario-10 input:focus{
    border: 2px solid #FAA21A;
    outline: none;
}

/* Estilos del onceavo contenedor */

.formulario-11 img{
    height: 200px;
    width: 150px;
}

.formulario-11 .btn-documento{
    width: 150px;
    height: 30px;
    background: #FAA21A;
    color: #fff;
    border-radius: 3px;
    border: 0;
}

.formulario-11 .btn-documento:hover{
    background: rgb(245, 148, 2);
}

.formulario-11 .contenedor-documento{
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.formulario-11 .h1-documentos{
    font-size: 20px;
    margin-top: 40px;
    margin-left: 40px;
}

/* Estilos doceavo contenedor */

.formulario-12 form div{
    margin-bottom: 10px;
}

.formulario-12 div label{
    display: inline-block;
    width: 120px;
    margin-left: 40px;  
    font-weight: bold;
}

.formulario-12 .nombre-encargado input{
    width: 180px;
    margin-right: 5px;
}

#txt_correo_encargado{
    height: 25px;
    width: 375px;
    border-radius: 3px;
    border: 2px solid gray;
    font-size: 15px;
}

#txt_correo_encargado:focus{
    border: 2px solid #FAA21A;
    outline: none;
}
.formulario-12 .departamento-encargado input, .formulario-12 .identificacion-encargado input {
    width: 375px;
}
#txt_telefono_encargado{
    width: 262px;
    margin-right: 5px;
}

#txt_extension_encargado{
    display: inline-block;
    width: 100px;
    margin-right: 5px;
    height: 25px;
    border-radius: 3px;
    border: 2px solid gray;
    font-size: 15px;
}

#txt_extension_encargado:focus{
    border: 2px solid #FAA21A;
    outline: none;
}

.formulario-12 input:focus{
    border: 2px solid #FAA21A;
    outline: none;
}


/* Estilos treceavo contenedor */
.formulario-13{
    text-align: center;
}
.formulario-13 h1{
    font-size: 30px;
    font-weight: bold;
    margin-top: 25px;
}

.formulario-13 p{
    font-size: 20px;
    margin-top: 20px;
}

.formulario-13 button{
    width: 80%;
    height: 50px;
    background: #FAA21A;
    color: #fff;
    border-radius: 3px;
    border: 0;
    margin-top: 25px;
}

.formulario-13 button:hover{
    background: rgb(245, 148, 2);
}

.formulario-13 .condiciones{
    font-size: 15px;
}