body{
    background: #F2F2F2;
}

.titulo1{
    font-size: 33px;
    font-weight: bold;
    text-align: center;
}
.titulo2{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;   
}

.contenedor{
    display: grid;    
    background: #fff;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    border: 1px solid #000;
    margin-top: 25px;
    height: 400px;
    grid-template-columns: 100px 2fr 2px 4fr 100px;
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
    grid-gap: 10px;
}
/* Colocacacion basica de los elementos */

.flecha_izq{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.flecha_izq i{
    margin-top: 20px;
    margin-left: 15px;
    color: #FAA21A;
}

.flecha_der{
    grid-column: 5 / 6;
    grid-row: 3 / 4;
    text-align: right;
}

.flecha_der i{
    margin-top: 20px;
    margin-right: 15px;
    color: #FAA21A;
}

.descripcion_contenedor{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    text-align: left;

}
.descripcion_contenedor p{
    font-size: 40px;
    font-weight: bolder;
    margin-top: 15px;
    margin-left: 20px;
}

.separador{
    grid-column: 3 / 4;
    grid-row: 2 / 5;
    background: #FAA21A;
}

.contenido{
    grid-column: 4 / 5;
    grid-row: 2 / 5;
}

/* Estilos generales de los elementos del contenido */

div input[type=text]{
    display: inline-block;
    width: 300px;
    height: 25px;
    border-radius: 3px;
    border: 2px solid gray;
    font-size: 15px;
}
div input[type=radio]{
    display: inline-block;
    width: 20px;
    height: 20px;
}
/* Estilos primer contenedor */

.contenido .formulario-1{
    margin-top: 70px;
}

.formulario-1 form div{
    margin-bottom: 40px;
}

.formulario-1 div label{
    display: inline-block;
    width: 200px;
    margin-left: 40px;  
    font-weight: bold;
}

/* Estilos del segundo contenedor */
.contenido .formulario-2{
    margin-top: 40px;
}

.formulario-2 form div{
    margin-bottom: 30px;
}

.formulario-2 div label{
    display: inline-block;
    margin-left: 40px;  
    font-weight: bold;
    width: 100px;
}

.formulario-2 div select{
    display: inline-block;
    width: 300px;
    height: 25px;
    border-radius: 3px;
    border: 2px solid gray;
    font-size: 15px;
}
/* Estilos tercer contenedor */

.contenido .formulario-3{
    margin-top: 40px;
}

.formulario-3 form div{
    margin-bottom: 30px;
}

.formulario-3 div label{
    display: inline-block;
    margin-left: 40px;  
    font-weight: bold;
    width: 100px;
}

.formulario-3 div select{
    display: inline-block;
    width: 120px;
    height: 25px;
    border-radius: 3px;
    border: 2px solid gray;
    font-size: 15px;
}
.formulario-3 div textarea{
    width: 250px;
    height: 150px;
    border-radius: 3px;
    border: 2px solid gray;
    font-size: 15px;
    resize: none;
}
/* Estilos del mapa del cuarto contenedor */
#map {
    height: 100%;
    width: 100%;
}

/* Estilos del quinto contenedor */
.formulario-5{
    margin-top: 50px;   
}
.titulo-elemento{
    margin-left: 100px;
    float: left;
}

.titulo-descripcion{
    margin-left: 190px;
    float: left;
}
.titulo-elemento p, .titulo-descripcion p{
    font-size: 20px;
    font-weight: bold;
    color: #FAA21A;
}

.formulario-5 label{
    display: inline-block;
    margin-left: 100px;
    width: 100px;
    font-weight: bold;
    font-size: 25px;
    margin-right: 25px;
}

.formulario-5 textarea{
    width: 200px;
    height: 60px;
    resize: none;
    border: 2px solid gray;
    margin-left: 50px;
}
.formulario-5 i{
    color: #FAA21A;
}
