

body{
    background: #F2F2F2;;
}


.contenedor{
    display: grid;    
    background: #fff;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    border: 1px solid #000;
    margin-top: 20px;
    height: 450px;
    grid-template-columns: 100px 2fr 2px 4fr 100px;
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
    grid-gap: 10px;
}
.descripcion_contenedor{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    text-align: left;

}
.descripcion_contenedor p{
    font-size: 40px;
    font-weight: bolder;
    margin-top: 15px;
    margin-left: 20px;
}
.separador{
    grid-column: 3 / 4;
    grid-row: 2 / 5;
    background: #FAA21A;
}

.contenido{
    grid-column: 4 / 5;
    grid-row: 2 / 5;
}
div input[type=text]{
    display: inline-block;
    width: 500px;
    height: 40px;
    border-radius: 3px;
    border: 2px solid gray;
    font-size: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    outline: none;
}
div input[type=radio]{
    display: inline-block;
    width: 20px;
    height: 20px;
}
#frm_uitiles{
    margin-top: 20px;
    margin-bottom: 20px; 
}
#frm_uitiles div{
    margin-bottom: 10px;
}
#frm_uitiles label{
    display: inline-block;
    width: 200px;
}
#frm_uitiles table tr th div input{
    width: 170px;
    height: 25px;
    resize: none;
}
#numeros div{
    margin-bottom: 10px;
}
#frmnumeros_uitiles label{
    display: inline-block;
    width: 200px;
}
#numeros input{
    display: inline-block;
    width: 20px;
    height: 20px;
    outline: none;
}
#frm_uitiles textarea{
    width: 170px;
    height: 50px;
    resize: none;

}
#frm_uitiles button{
    display: block;
    background:  #f1c40f;
    padding: 10px;
    width: 170px;
    margin: 0 auto;
    font-size: 16px;
}
#logo{
    width: 8%;   
    height: 35px;
    margin-left: 1%;
    margin-top: 10px;
    margin-bottom: 10px
}


#list-utiles {
    width: 375px;
    height: 50px;
    border: 1px solid #A9A9A9;
    border-radius: 3px;

}

#item-list-container {
    padding: 5px;
    background-color: #fff;
    display: inline-block;
    margin: 2px 1px !important;
    border-radius: 8px;
    cursor: pointer;
}

#titulo {
    position: center;
    margin: center;
}

#agregarItem {
    background-color: #FAA21A !important;
    border: 2px solid #000;
    color: #FFF !important;
    outline: none !important;
    cursor: pointer !important;
    padding: 10px 25px !important;
}

#agregarItem:hover {
    background-color: #FAA21A !important;
}
#btn_guardar{
    background-color: #FAA21A;
    width: 54%;
    height: 40px;
    margin-left: 42%;
    background: #FAA21A;
    color: #fff;
    border-radius: 3px;
    border: 0;
}
