body{
    background: #F2F2F2;;
}

.titulo1{
    font-size: 33px;
    font-weight: bold;
    text-align: center;
}
.titulo2{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;   
}

.contenedor{
    display: grid;    
    background: #fff;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    border: 1px solid #000;
    margin-top: 25px;
    height: 400px;
    grid-template-columns: 100px 2fr 2px 4fr 100px;
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
    grid-gap: 10px;
}
.flecha_izq{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.flecha_izq i{
    margin-top: 20px;
    margin-left: 15px;
    color: #FAA21A;
}

.flecha_der{
    grid-column: 5 / 6;
    grid-row: 3 / 4;
    text-align: right;
}

.flecha_der i{
    margin-top: 20px;
    margin-right: 15px;
    color: #FAA21A;
}

.descripcion_contenedor{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    text-align: left;

}
.descripcion_contenedor p{
    font-size: 40px;
    font-weight: bolder;
    margin-top: 15px;
    margin-left: 20px;
}

.separador{
    grid-column: 3 / 4;
    grid-row: 2 / 5;
    background: #FAA21A;
}

.contenido{
    grid-column: 4 / 5;
    grid-row: 2 / 5;
}
div input[type=text]{
    display: inline-block;
    width: 300px;
    height: 25px;
    border-radius: 3px;
    
    font-size: 15px;
}
div input[type=number]{
    display: inline-block;
    width: 300px;
    height: 25px;
    border-radius: 3px;
    border: 2px solid gray;
    font-size: 15px;
}
.contenido .formulario-1{
    margin-top: 12px;
}

.formulario-1 form div{
    margin-bottom: 40px;
}
.formulario-1 div label{
    display: inline-block;
    width: 200px;
    margin-left: 15px;  
    font-weight: bold;
}
.formulario-1 input:focus{
    border: 2px solid #FAA21A;
    outline: none;
}
.contenido .formulario-2{
    margin-top: 40px;
}

.formulario-2 form div{
    margin-bottom: 30px;
}
.formulario-2 div label{
    display: inline-block;
    width: 200px;
    margin-left: 40px;  
    font-weight: bold;
}
.formulario-2 input:focus{
    border: 2px solid #FAA21A;
    outline: none;
}
.formulario-2 div select{
    display: inline-block;
    width: 300px;
    height: 25px;
    border-radius: 3px;
    border: 2px solid gray;
    font-size: 15px;
}
.formulario-2 div select{
    cursor: pointer;
}
.contenido.formulario-3{
    margin-top: 52px;
}
.formulario-3 form div{
    margin-bottom: 50px;
}
.formulario-3 div label{
    display: inline-block;
    margin-left: 40px;  
    font-weight: bold;
    width: 100px;
}
.formulario-3 input:focus{
    border: 2px solid #FAA21A;
    outline: none;
}
.formulario-3 div select{
    display: inline-block;
    width: 300px;
    height: 25px;
    border-radius: 3px;
    border: 2px solid gray;
    font-size: 15px;
}
.formulario-3 div select{
    cursor: pointer;
}
.formulario-3 div input {
    border-radius: 3px;
    border: 2px solid gray;
}
#img_padre_familia{
    height: 200px;
    width: 40%;
    margin-left: 30%;
}
#btn_subir_foto{
    width: 43%;
    height: 40px;
    background: #FAA21A;
    color: #fff;
    border-radius: 3px;
    border: 0;
    margin-left: 28%;
    margin-top: 30px;
}
#btn_subir_foto:hover{
    background: rgb(245, 148, 2);
}
#url_foto_perfil{
    display: none;
} 
.contenido.formulario-5{
    margin-top: 52px;
}
.formulario-5 form div{
    margin-bottom: 50px;
}
.formulario-5 div label{
    display: inline-block;
    margin-left: 40px;  
    font-weight: bold;
    width: 100px;
}
.formulario-5 input:focus{
    border: 2px solid #FAA21A;
    outline: none;
}
.formulario-5 div select{
    display: inline-block;
    width: 300px;
    height: 25px;
    border-radius: 3px;
    border: 2px solid gray;
    font-size: 15px;
}
.formulario-5 div select{
    cursor: pointer;
}
.formulario-5 div input {
    border-radius: 3px;
    border: 2px solid gray;
}
.contenido.formulario-6{
  margin-top: 52px;
}
.formulario-6 form div{
  margin-bottom: 50px;
}
.formulario-6 button{
    width: 80%;
    height: 50px;
    background: #FAA21A;
    color: #fff;
    border-radius: 3px;
    border: 0;
    margin-top: 25px;
    margin: 73px
}
.formulario-6 button:hover{
  background-color: rgb(245, 148, 2);
}

.borde{
    border: 2px solid gray;
}
