body{
    background: #F2F2F2;
}
.titulo1{
    font-size: 33px;
    font-weight: bold;
    text-align: center;
}
.titulo2{
    font-size: 25px; 
    font-weight: bold;
    text-align: center;
    margin-top: 20px;   
}
.contenedor{
    display: grid;    
    background: #fff;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    border: 1px solid #000;
    margin-top: 20px;
    height: 400px;
    grid-template-columns: 100px 2fr 2px 4fr 100px;
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
    grid-gap: 10px;
}
/* Colocacacion basica de los elementos */

.descripcion_contenedor{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    text-align: left;
}
.descripcion_contenedor p{
    font-size: 40px;
    font-weight: bolder;
    margin-top: 15px;
    margin-left: 20px;
}
.separador{
    grid-column: 3 / 4;
    grid-row: 2 / 5;
    background: #FAA21A;
}
.contenido{
    grid-column: 4 / 5;
    grid-row: 2 / 5;
}

/* Estilos generales de los elementos del contenido */

div input[type=date]{
    display: inline-block;
    width: 40%;
    height: 25px;
    border-radius: 3px;
    font-size: 16px;
    outline: none;
}

div input[type=time]{
    display: inline-block;
    width: 40%;
    height: 25px;
    border-radius: 3px;
    font-size: 16px;
    outline: none;
}

div input[type=date]::-webkit-datetime-edit { 
    padding-left: 25%; 
}

div input[type=time]::-webkit-datetime-edit{
    padding-left: 36%; 
}

::-webkit-datetime-edit-text { 
    color: #FAA21A; 
    padding: 0 0.3em; 
}

/* Estilos primer contenedor */



.formulario_citas form div{
    margin-bottom: 40px;
}
.formulario_citas div label{
    display: inline-block;
    width: 200px;
    margin-left: 40px;  
    font-weight: bold;
}
.formulario_citas input:focus{
    border: 2px solid #FAA21A;
    outline: none;
}

#label_comentario{
    position: relative;
    bottom: 65px;
}

.formulario_citas div textarea{
    width: 40%;
    height: 75px;
    resize: none;
    font-size: 15px;
    outline: none;
    border-radius: 3px;
}
.formulario_citas textarea:focus{
    border: 2px solid #FAA21A;
    outline: none;
}
.formulario_citas div button{
    width: 43%;
    height: 40px;
    margin-left: 42%;
    background: #FAA21A;
    color: #fff;
    border-radius: 3px;
    border: 0;
}
.formulario_citas div button:hover{
    background: rgb(245, 148, 2);
}

.formulario_citas .borde{
    border: 2px solid gray;
}
