

body{
    background: #F2F2F2;;
}


.contenedor{
    display: grid;    
    background: #fff;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    border: 1px solid #000;
    margin-top: 20px;
    height: 400px;
    grid-template-columns: 100px 2fr 2px 4fr 100px;
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
    grid-gap: 10px;
}
.descripcion_contenedor{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    text-align: left;

}
.descripcion_contenedor p{
    font-size: 40px;
    font-weight: bolder;
    margin-top: 15px;
    margin-left: 20px;
}
.separador{
    grid-column: 3 / 4;
    grid-row: 2 / 5;
    background: #FAA21A;
}

.contenido{
    grid-column: 4 / 5;
    grid-row: 2 / 5;
}
div input[type=text]{
    display: inline-block;
    width: 300px;
    height: 25px;
    border-radius: 3px;
    border: 2px solid gray;
    font-size: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    outline: none;
}
div input[type=radio]{
    display: inline-block;
    width: 20px;
    height: 20px;
}
#frm_uitiles{
    margin-top: 20px;
    margin-bottom: 20px; 
}
#frm_uitiles div{
    margin-bottom: 15px;
}
#frm_uitiles label{
    display: inline-block;
    width: 110px;
}
#frm_uitiles table tr th div input{
    display: inline-block;
    width: 80px;
    height: 50px;
    outline: none;
}
#numeros div{
    margin-bottom: 7px;
}
#frmnumeros_uitiles label{
    display: inline-block;
    width: 70px;
}
#numeros input{
    display: inline-block;
    width: 20px;
    height: 20px;
    outline: none;
}
#frm_uitiles textarea{
    width: 100px;
    height: 50px;
    resize: none;

}
#frm_uitiles button{
    display: block;
    background:  #f1c40f;
    padding: 10px;
    width: 170px;
    margin: 0 auto;
    font-size: 16px;
}



/* Estilos del navbar lateral */
.navbar_lateral {
    height: 100%; /* Que ocupe todo el ancho de la pantalla */
    width: 15%; /*Definir el ancho del navbar */
    position: fixed; /* Fija el navbar, que no se mueva con el scroll */
    z-index: 1; /* Se mantiene en la parte superior */
    /* top: 71px; Se mantiene en la parte superior */
    left: 0; /* Se mantiene a la izquiera */
    background-color: #fff; /*  Fondo del navbar */
    overflow-x: hidden; /* Deshabilitar el scroll lateral */
    padding-top: 15px;
    border-right: 1px solid #000;
  }
  
  /* Links de la barra de navegacion lateral */
  .navbar_lateral a {
    text-decoration: none;
    font-size: 18px;
    color: #111;
    display: block;
    padding-bottom: 10px;  
  }
  


  .separador_navbar{
      height: 15px;
      color: #FAA21A;
  }

  /* Estilos de los contenedores del navbar lateral */
  .navbar_lateral div{
      text-align: center;
      margin-bottom: 20px;
  }

  #logo{
    width: 8%;   
    height: 35px;
    margin-left: 1%;
    margin-top: 10px;
    margin-bottom: 10px
}

  .navbar_lateral div:hover{
    border-bottom: 3px solid #FAA21A;
}


